.SideNavigation {
    height: 100vh;
    position: fixed;
    display: flex; 
    overflow: scroll initial;
    text-decoration: none;
}

.SideNavigation_title {
    font-weight: bold;
    text-align: center;
    padding: .8rem 0;
    border-bottom: 1px solid gray;
}

.SideNavigation_menu_item {
    padding: 0.6rem 0rem 0.6rem 3.8rem;
}

.SideNavigation_footer {
    padding: 0.6rem;
    border-top: 1px solid gray;
    text-align: center;
}

.SideNavigation_avatar {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.SideNavigation_avatar:hover {
    cursor: pointer;
}

.SideNavigation_upload_post_btn {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: .4rem .4rem;
    margin-left: auto;
}

.SideNavigation_upload_post_btn:hover {
    cursor: pointer;
}