.NotiItem {
    border-radius: 10px;
    padding: .2rem 1.2rem;
    background-color: white;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .1s all linear;
}

.NotiItem:hover {
    border: 2px solid black;
}

.NotiItem_noti_id {
    display: none;
}

.NotiItem_description {
    color: gray;
}

.NotiItem_faculty {
    color: red;
    font-weight: bold;
}

.NotiItem_time {
    font-size: 13px;
    color: gray;
}