.CommentInput {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.CommentInput_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: .8rem;
}

.CommentInput_status {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #e9ecf0;
    padding: 0 .8rem;
    max-width: 620px;
}