.Notification {
    height: 91.5vh;
    position: relative;
}

.Notification_upload_noti {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: .4rem .4rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: .6rem;
}

.Notification_pagination {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link:active {
  background-color: green;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 5px;
  }
    
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid gray;
  }
  
  .separator:not(:empty)::before {
    margin-right: .75em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .75em;
  }