.Notification {
    /* background-color: white; */
    /* border-radius: 10px; */
    /* padding: .2rem 1.2rem; */
    position: fixed;
    margin-right: 1.8rem;
}

.Notification_title {
    text-align: center;
    margin-bottom: 5px;
}